DJANGO_SECRET_KEY=change-me-to-a-secure-key
DEBUG=True
SENDGRID_API_KEY=enter-sendgrid-api-key-here
DEFAULT_FROM_EMAIL=enter-default-from-email-here
FRONTEND_URL=http://localhost:5173
CLOUDINARY_CLOUD_NAME=enter-cloudinary-cloud-name-here
CLOUDINARY_API_KEY=enter-cloudinary-api-key-here
CLOUDINARY_API_SECRET=enter-cloudinary-api-secret-here
DATABASE_URL=postgres://blog_user:blog_password@localhost:5432/blog_db
ALLOWED_HOSTS=localhost,127.0.0.1
